.nav-link {
    font-weight: bold;
    color: black;
    text-decoration: none; /* Add missing property */
    padding: 10px; /* Add missing property */
}
.card-title{
    font-weight: bold;
    color: green;
    text-decoration: none; /* Add missing property */
    padding: 10px; /* Add missing property */
}
.marquee{
    color: red;
    font-weight: bold;
    font-style: italic;
}

footer {
    padding: 20px; /* Padding */
}

.social-icon {
    color: white; /* Change this to your desired default color */
    transition: color 0.5s ease;
}

.social-icon:hover {
    color: #007BFF; /* Change this to your desired hover color */
}